body {
    font-family: 'calibri';
}

.sentence-item {
    padding: 5px;
    border-radius: 5px;
    background: rgb(247, 247, 247);
    box-shadow: 0px 0px 2px 0px rgb(104, 104, 104);
}

.sentence .wordtoken {
    /* box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.089); */
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 4px;
    padding: 4px;
}

.sentence .selected {
    box-shadow: 0px 0px 2px 1px blue
}

.sentence .word .token {
    font-size: 1.1em;
    font-weight: bold;
}

.sentence .remove-space {
    min-height: 30px;
    /* margin: 5px; */
    /* top: 80px; */
}

.sentence .remove-space button {
    padding: 0px 5px;
}

.sentence .word .tag {
    font-size: .8em;
}


.sentence .word .highlight {
    background-color: yellow;
}

.popupWindow {
    min-height: 40px;
    margin-top: 10px;
    text-align: right;
}

.popupWindow select,
.popupWindow button {
    height: 35px;
    border-radius: 4px;
    margin-left: 5px;
}
.checkup-rating{
    font-size: 20px;
}
.checkup-rating .form-check-label{
    padding: 0px 10px;
    margin-left: -10px;
}
